DB_URL=jdbc:mysql://localhost:3306/kantin_kita
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRATION_MS=86400000

XENDIT_API_KEY=
XENDIT_CALLBACK_TOKEN=
XENDIT_SUCCESS_URL=http://localhost:3000/orders/
XENDIT_FAILURE_URL=http://localhost:3000/orders/

SERVER_PORT=8080
